{% extends 'base.html' %}

{% block title %}Shoemart Home{% endblock %}


{% block content %}
<!-- new collection -->
    <section class="container collection">
        <!-- section header -->
        <div class="section-heading">
            <div class="heading">
                <p class="sub-heading">best collection</p>
                <h2 class="heading-two">our new collection</h2>
            </div>
            <div class="btn-section">
                <button class="btn-col btn" data-btn="all">all</button>
                <button class="btn-col" data-btn="men">men</button>
                <button class="btn-col" data-btn="women">women</button>
                <button class="btn-col" data-btn="sports">sports</button>
            </div>
        </div>
        <!-- section wrapper and col -->
        <div class="grid-wrapper">
            <div class="col- collection-item" data-item="men" data-aos="zoom-in-up">
                <figure><img src="assets/products/pr1.png" alt=""></figure>
                <div class="col-body">
                    <p class="rating-icon"><i class="fa-solid fa-star"></i> <span class="rating-num">4.9</span></p>
                    <h3 class="heading-three">nike running</h3>
                    <p class="sub-heading">air zoom pagasus</p>
                    <div class="col-footer">
                        <p class="shoe-price">₱2500</p>
                        <button class="shoe-btn btn">buy now</button>
                    </div>
                </div>
            </div>

            <div class="col- collection-item" data-item="women" data-aos="zoom-in-up">
                <figure><img src="assets/products/pr2.png" alt=""></figure>
                <div class="col-body">
                    <p class="rating-icon"><i class="fa-solid fa-star"></i> <span class="rating-num">4.9</span></p>
                    <h3 class="heading-three">nike running</h3>
                    <p class="sub-heading">air zoom pagasus</p>
                    <div class="col-footer">
                        <p class="shoe-price">₱2300</p>
                        <button class="shoe-btn btn">buy now</button>
                    </div>
                </div>
            </div>

            <div class="col- collection-item" data-item="men" data-aos="zoom-in-up">
                <figure><img src="assets/products/pr3.png" alt=""></figure>
                <div class="col-body">
                    <p class="rating-icon"><i class="fa-solid fa-star"></i> <span class="rating-num">4.9</span></p>
                    <h3 class="heading-three">nike running</h3>
                    <p class="sub-heading">air zoom pagasus</p>
                    <div class="col-footer">
                        <p class="shoe-price">₱4500</p>
                        <button class="shoe-btn btn">buy now</button>
                    </div>
                </div>
            </div>

            <div class="col- collection-item" data-item="sports" data-aos="zoom-in-up">
                <figure><img src="assets/products/pr4.png" alt=""></figure>
                <div class="col-body">
                    <p class="rating-icon"><i class="fa-solid fa-star"></i> <span class="rating-num">4.9</span></p>
                    <h3 class="heading-three">nike running</h3>
                    <p class="sub-heading">air zoom pagasus</p>
                    <div class="col-footer">
                        <p class="shoe-price">₱3200</p>
                        <button class="shoe-btn btn">buy now</button>
                    </div>
                </div>
            </div>

            <div class="col- collection-item" data-item="men" data-aos="zoom-in-up">
                <figure><img src="assets/products/pr5.png" alt=""></figure>
                <div class="col-body">
                    <p class="rating-icon"><i class="fa-solid fa-star"></i> <span class="rating-num">4.9</span></p>
                    <h3 class="heading-three">nike running</h3>
                    <p class="sub-heading">air zoom pagasus</p>
                    <div class="col-footer">
                        <p class="shoe-price">₱2800</p>
                        <button class="shoe-btn btn">buy now</button>
                    </div>
                </div>
            </div>

            <div class="col- collection-item" data-item="women" data-aos="zoom-in-up">
                <figure><img src="assets/products/pr6.png" alt=""></figure>
                <div class="col-body">
                    <p class="rating-icon"><i class="fa-solid fa-star"></i> <span class="rating-num">4.9</span></p>
                    <h3 class="heading-three">nike running</h3>
                    <p class="sub-heading">air zoom pagasus</p>
                    <div class="col-footer">
                        <p class="shoe-price">₱4600</p>
                        <button class="shoe-btn btn">buy now</button>
                    </div>
                </div>
            </div>

            <div class="col- collection-item" data-item="sports" data-aos="zoom-in-up">
                <figure><img src="assets/products/pr7.png" alt=""></figure>
                <div class="col-body">
                    <p class="rating-icon"><i class="fa-solid fa-star"></i> <span class="rating-num">4.9</span></p>
                    <h3 class="heading-three">nike running</h3>
                    <p class="sub-heading">air zoom pagasus</p>
                    <div class="col-footer">
                        <p class="shoe-price">₱2900</p>
                        <button class="shoe-btn btn">buy now</button>
                    </div>
                </div>
            </div>

            <div class="col- collection-item" data-item="men" data-aos="zoom-in-up">
                <figure><img src="assets/products/pr8.png" alt=""></figure>
                <div class="col-body">
                    <p class="rating-icon"><i class="fa-solid fa-star"></i> <span class="rating-num">4.9</span></p>
                    <h3 class="heading-three">nike running</h3>
                    <p class="sub-heading">air zoom pagasus</p>
                    <div class="col-footer">
                        <p class="shoe-price">₱2000</p>
                        <button class="shoe-btn btn">buy now</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}