{% extends 'base.html' %}

{% block title %}Shoemart Home{% endblock %}


{% block content %}
<!-- Hero Section -->
    <main class="container hero">
        <div class="clr-one"></div>
        <div class="clr-two"></div>
        <div class="wrapper">
            <div class="col col-text" data-aos="fade-right">
                <h1 class="heading-one">best in style <br> collection <br> <span>for you</span></h1>
                <p class="sub-text">We Craft The, We Want To Say The Best, <br>
                    But Through 70 Years Of Experience In The Industry</p>
                <button class="btn btn-hero">pre-order now</button>
            </div>
            <div class="col col-img">
                <figure data-aos="fade-left">
                    <img src="assets/hero/hero.png" alt="nike-shoe">
                </figure>
                <div class="hero-img-off" data-aos="zoom-in-up">
                    <h3 class="heading-three">get up to 50% OFF</h3>
                    <p>Grab your perfect pair now and enjoy up to 50% off for a limited time! </p>
                </div>
            </div>
        </div>
    </main>
{% endblock %}