{% extends 'base.html' %}
{% load static %}
{% block title %}Shoemart Home{% endblock %}


{% block content %}
<!-- Hero Section -->
    <main class="container hero">
        <div class="clr-one"></div>
        <div class="clr-two"></div>
        <div class="wrapper">
            <div class="col col-text" data-aos="fade-right">
                <h1 class="heading-one">best in style <br> collection <br> <span>for you</span></h1>
                <p class="sub-text">We Craft The, We Want To Say The Best, <br>
                    But Through 70 Years Of Experience In The Industry</p>
                <a href="{% url 'browse' %}"><button class="btn btn-light">Shop Now</button></a>
            </div>
            <div class="col col-img">
                <figure data-aos="fade-left">
                    <img src="{% static 'images/hero/hero.png' %}" alt="nike-shoe">
                </figure>
                <div class="hero-img-off" data-aos="zoom-in-up">
                    <h3 class="heading-three">Buy Quality Shoes!</h3>
                    <p>Grab your perfect pair now and enjoy a guaranteed lifetime of comfortable shoes! </p>
                </div>
            </div>
        </div>
    </main>
{% endblock %}