{% extends 'base.html' %}
{% load static %}

{% block title %}New Arrival{% endblock %}


{% block content %}
<!-- Arrival Section-->
    <section class="container collection">
        <div class="section-heading">
            <div class="heading">
                <h2 class="heading-two">new <span>arrival</span> </h2>
                <p class="sub-heading">our new collection</p>
            </div>
            <button class="btn btn-light"><a href="{% url 'browse' %}">see more</a></button>
        </div>
        <div class="grid-wrapper">
            {% for product in products %}
            <div class="col- collection-item" data-aos="zoom-in-up">
                <figure>
                    {% if product.main_image %}
                        <img src="{{ product.main_image.image.url }}" alt="{{ product.main_image.alt_text }}">
                    {% else %}
                        <img src="{% static 'images/default-image.png' %}" alt="No image">
                    {% endif %}
                </figure>
                <div class="col-body">
                    
                    <h3 class="heading-three">{{ product.name }}</h3>
                    <p class="sub-heading">{{ product.description|truncatechars:30 }}</p>
                    <div class="col-footer">
                        <p class="shoe-price">₱{{ product.price }}</p>
                        <a href="{% url 'product_detail' product.slug %}" class="shoe-btn btn btn-light">buy now</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}